<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 등록</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
     <!-- 사이드 바 -->
     <aside id="sidebar">
        <div class="top flex main-end">
            <a href="javascript:;" id="btn-close">
                <span class="material-symbols-outlined">close</span>
            </a>
        </div>
        <ul>
            <li><a href="../index">Home</a></li>
            <li><a href="../board/list">Board</a></li>
        </ul>
    </aside>

    <!-- 헤더 -->
    <header>
        <!-- 로그인 | 회원가입 -->
        <div class="util"></div>

        <!-- 메인 메뉴 -->
        <div class="menu">
            <nav>
                <ul class="pc">
                    <li><a href="../index">Home</a></li>
                    <li><a href="../board/list">Board</a></li>
                </ul>
                <ul class="mobile">
                    <li>
                        <a href="../index"><span class="material-symbols-outlined">home</span></a>
                    </li>
                    <li>
                        <a href="javascript:;" id="btn-menu"><span class="material-symbols-outlined">menu</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- 메인 -->
    <section class="main container">
        <div class="inner">
            <!-- 제목 영역 -->
            <div class="main-title">
                <h1>게시글 등록</h1>
                <p>커뮤니티 게시글 등록을 요청합니다.<p>
            </div>
            
            <form action="/board/insert" method="POST" id="form">
                <table>
                    <tr>
                        <td class="label">제목</td>
                        <td class="data"><input class="input-text" name="title" id="title" th:value="${board.title}" placeholder="제목"></td>
                    </tr>
                    <tr>
                        <td class="label">작성자</td>
                        <td class="data"><input class="input-text" name="writer" th:value="${board.writer}" placeholder="작성자"></td>
                    </tr>
                    <tr>
                        <td class="label">내용</td>
                        <td class="data"><textarea class="input-textarea" name="content" cols="40" rows="5" th:value="${board.content}" placeholder="내용"></textarea></td>
                    </tr>            
                </table>
                <div>
                    <a class="btn" onclick="moveList()">목록</a>
                    <a class="btn" onclick="actionInsert()">등록</a>
                </div>
            </form>

        </div>
    </section>

    <script>
        let form = document.getElementById('form')
        
        // 목록으로 이동
        function moveList() {
            location.href = "/board/list"
        }

        // 등록 요청
        function actionInsert() {
            form.submit()
        }

    </script>
</body>
</html>