<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>
</head>
<body>
    <h1>게시글 목록</h1>
    <p>커뮤니티 게시글 데이터를 조회합니다.</p>

    <a href="/board/insert">글쓰기</a>

        <!-- 게시글 목록 -->
        <table class="board">
            <table border="1">
                <tr>
                    <th width="50">번호</th>
                    <th width="300">제목</th>
                    <th width="100">작성자</th>
                    <th width="200">등록일자</th>
                    <th width="200">수정일자</th>
                    <th width="100">조회수</th>
                    <th width="100">좋아요</th>
                </tr>

                <th:block th:each="board : ${boardList}">
                    <th:block th:if="${boardList==null}" >
                        <th:block th:if="${boardList.isEmpty()}">
                            <tr>
                                <td colspan="7">조회된 게시물 정보가 없습니다.</td>
                            </tr>
                        </th:block>
                    </th:block>
                    <tr>
                        <td align="center" th:text="${board.boardNo}"></td>
                        <td><a th:href="|/board/read?boardNo=${board.boardNo}|" th:text="${board.title}"></a></td>
                        <td align="center" th:text="${board.writer}"></td>
                        <td align="center"><span th:text="${ #dates.format( board.regDate, 'yyyy-MM-dd HH:mm:ss') }"></span></td>
                        <td align="center"><span th:text="${ #dates.format( board.updDate, 'yyyy-MM-dd HH:mm:ss') }"></span></td>
                        <td align="center" th:text="${board.views}"></td>
                        <td align="center" th:text="${board.likes}"></td>
                    </tr>
                </th:block>
            </table>

        </table>


    </div>
</section>

</body>
</html>