<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 수정</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- 사이드 바 -->
    <aside id="sidebar">
        <div class="top flex main-end">
            <a href="javascript:;" id="btn-close">
                <span class="material-symbols-outlined">close</span>
            </a>
        </div>
        <ul>
            <li><a href="../index">Home</a></li>
            <li><a href="../board/list">Board</a></li>
        </ul>
    </aside>

    <!-- 헤더 -->
    <header>
        <!-- 로그인 | 회원가입 -->
        <div class="util"></div>

        <!-- 메인 메뉴 -->
        <div class="menu">
            <nav>
                <ul class="pc">
                    <li><a href="../index">Home</a></li>
                    <li><a href="../board/list">Board</a></li>
                </ul>
                <ul class="mobile">
                    <li>
                        <a href="../index"><span class="material-symbols-outlined">home</span></a>
                    </li>
                    <li>
                        <a href="javascript:;" id="btn-menu"><span class="material-symbols-outlined">menu</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- 메인 -->
    <section class="main container">
        <div class="inner">
            <!-- 제목 영역 -->
            <div class="main-title">
                <h1>게시글 수정</h1>
                <p>커뮤니티 게시글 정보를 수정합니다.<p>
            </div>

            <!-- 게시글 수정 -->
            <form action="/board/update" method="POST" id="form">
                <input type="hidden" name="boardNo" th:value="${board.boardNo}">
                <table class="board">
                    <tr>
                        <td class="label">제목</td>
                        <td class="data">
                            <input type="text" name="title" id="title" class="input-text" th:value="${board.title}">
                        </td>
                    </tr>
                    <tr>
                        <td class="label">작성자</td>
                        <td class="data">
                            <input type="text" name="writer" id="writer" class="input-text" th:value="${board.writer}">
                        </td>
                    </tr>
                    <tr>
                        <td class="label">내용</td>
                        <td class="data">
                            <textarea name="content" id="content" cols="30" rows="10" 
                                    class="input-textarea" th:text="${board.content}"></textarea>
                        </td>
                    </tr>
                </table>

                <div class="btn-box">
                    <div class="item">
                        <a type="button" onclick="moveList()" class="btn btn-primary">목록</a>
                    </div>
                    <div class="item">
                        <a type="button" onclick="actionUpdate()" class="btn btn-primary">수정</a>
                        <a type="button" onclick="actionDelete()" class="btn btn-primary">삭제</a>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <!-- sweetalert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="../js/main.js"></script>

    <script>
        let form = document.getElementById('form')
        // 👩‍💻 모델 객체를 자바스크립트에서 표현하는 방법
        let boardNo = "[[${board.boardNo}]]"
        
        // 목록으로 이동
        function moveList() {
            location.href = "/board/list"
        }

        // 수정 요청
        function actionUpdate() {
            form.submit()
        }

        // 삭제 요청
        function actionDelete() {
            let check =
                Swal.fire({
                    title: '정말로 삭제하시겠습니까?',
                    text: "삭제하면 되돌릴 수 없습니다!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '예',
                    cancelButtonText: '아니오',
                }).then((result) => {
                    if (result.isConfirmed) {
                        form.action = '/board/delete'
                        form.submit()
                    }
                })                
        }
    </script>

</body>
</html>